<!DOCTYPE html>
<html>
<head>
	<title>Add Notice</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		.board{
			width:25%;
			background-color: yellow;
			border-radius: 15px ;
			margin-left:38.5%;
		}
		.title{
			font-size: 30px;
			padding: 10px ;
			border-bottom:1px solid orange;
		}
		.content{
			font-size: 20px;
			margin: 30px ;
		}
		.saveNote{
			padding: 5px ;
			border-radius: 5px ;
			margin-left: 10% ;
			width: 80% ;
			text-align: center;
			font-size: 30px ;
			color: yellow ;
			background-color: orange ;
		}
		.saveNote:hover{
			cursor: pointer; 
			transition-duration: 0.5s ;
			background-color: red ;
		}
		textarea{
			margin-top: 20px ;
			width:100% ;
			border:none;
			resize: none ;
			border-radius: 5px ;
			height: 120px;
			font-size: 15px ;
		}

		.titleValue{
			width: 80% ;
			height: 30px;
			border-radius: 10px;
			font-size: 20px ;
			border:none ;
		}
	</style>
</head>
<body>
	<div class="board">
		<div class="title">
			<label>Title<br><input type="text" name="title" class="titleValue"></label>
		</div>
		<div class="content">
			<label>Content<br><textarea class="contentValue"></textarea></label>
		</div>

		<div class="saveNote">SAVE</div>
	</div>

	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript">
		$('.saveNote').click(function(){
			if(($('.titleValue').val()!= "") && ($('.contentValue').val()!="")){
				$.post('/save_notice',{title:$('.titleValue').val(), content: $('.contentValue').val()},function(returnedData){
					//pop up a notification that your note was saved
					location.href = '/board'
			})
			}
		})
	</script>
</body>
</html>