<!DOCTYPE html>
<html>
<head>
	<title>Add Notice</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<% include styles.ejs %>
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		.board{
			width:40%;
			background-color: yellow;
			border-radius: 15px ;
			margin-left:30%;
		}
		.title{
			font-size: 30px;
			padding: 10px ;
			border-bottom:1px solid orange;
		}
		.content{
			font-size: 20px;
			margin: 30px ;
		}
		.saveNote{
			padding: 5px ;
			border-radius: 5px ;
			margin-left: 5% ;
			width: 80% ;
			text-align: center;
			font-size: 30px ;
			color: yellow ;
			background-color: orange ;
		}
		.saveNote:hover{
			cursor: pointer; 
			transition-duration: 0.5s ;
			background-color: red ;
		}
		textarea{
			margin-top: 20px ;
			width:100% ;
			border:none;
			resize: none ;
			border-radius: 5px ;
			height: 120px;
			font-size: 15px ;
		}

		.titleValue{
			width: 80% ;
			height: 30px;
			border-radius: 10px;
			font-size: 20px ;
			border:none ;
		}.upload{
			margin:15% ;
		}
		button{
			border: none ;
		}
		.links{
			margin-bottom: 20px ;
		}
	</style>
</head>
<body>
	<% include header.ejs %>
	<div class="board">
		<%if(message){%>
		<p class="message"><%=message%></p>
		<%}%>
		<form action="/save_notice" method="post" enctype="multipart/form-data">
			<div class="title">
				<label>Title<br><input type="text" name="title" class="titleValue"></label>
			</div>
			<div class="content">
				<label>Content<br><textarea class="contentValue" name="content"></textarea></label>
			</div>
			<input type="file" name="image" class="upload">
			<p>List the links you want to save, 1 in each line</p>
			<textarea class="links" name="links" style="resize: none; width: 80%; height: 10% ;"></textarea>
			<button class="saveNote" type="submit">Save</button>
		</form>
	</div>

	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/jscookie.js"></script>
	<script type="text/javascript">
		if($('.message')){
			setTimeout(function(){
				$('.message').remove()
			},3000)
		}
	</script>+

<script type="text/javascript">

	var logout = document.querySelector('.logout') ;
	logout.onclick = function(){

		Cookies.remove('token', {expires: 1}, {domain: 'localhost:3000'});
		location.href='/login' ;
	}
</script>
</body>
</html>