<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		form{
			margin-top: 30px ;
			padding: 30px ;
		}
		input, select{
			margin:20px;
		}
	</style>
</head>
<body>
	<h1>Login</h1>
	<label>Username:<input type="text" name="username" class="username"></label>
	<br>
	<label>Password:<input type="password" name="password" class="password"></label>
	<br>
	<input type="submit" value="Submit" id="submit">
	

	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/jqueryCookie.js"></script>
	<script type="text/javascript">
		$('#submit').click(function(){
			$.post('/login', { username: $('.username').val(), password : $('.password').val()}, 
			    function(returnedData){
			         localStorage.setItem('token', returnedData.token)
			         console.log(localStorage.getItem('token'))
			         $.cookie('token',returnedData.token, {expires: 1}, {domain: 'localhost:3000'})
			         console.log(returnedData)
					location.href  = "/board"
			});
		})
	</script>
</body>
</html>