<!DOCTYPE html>
<html>
<head>
	<title>Board</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<% include styles.ejs %>
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		.board{
			width:40%;
			background-color: yellow;
			border-radius: 15px ;
			margin-left:30%;
		}
		.title{
			font-size: 20px;
			padding: 10px ;
			border-bottom:1px solid orange;
		}
		.content{
			font-size: 20px;
			margin: 30px ;
			padding-bottom: 30px ;
		}
		.button{
			padding:5px;
			width:15%;
			margin-left:5% ;
			float: left ;
			font-size: 30px ;
			border-radius: 5px ;
		}
		.button:hover{
			color: yellow ;
			cursor: pointer;
			transition-duration: 0.5s;
		}
		.yes{
			background-color: red ;
			margin-left: 15%;
		}
		.no{
			background-color: green ;
			margin-left: 40%;
		}
		.dummy{
			clear: both; 
			height: 50px ;
		}

	</style>
</head>
<body>
<% include header.ejs%>
	<div class="board">
		<div class="title"><p>Are you sure you want to moderate the following user?</p></div>
		<div class="content"><%= user['username'] %></div>
		<div class="button yes">YES</div>
		<div class="button no">NO</div>
		<div class="dummy"></div>
	</div>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<% include scripts.ejs %>
	<script type="text/javascript">
		$('.yes').click(function(){
			var url = '/moderation/apply/'+document.querySelector('.content').innerHTML ;
			$.post(url,{},function(response){
				if(response.success){
					location.href = '/admin_panel'
				}else{
					alert('Sorry, you dont have permission')
				}
			})
		})
		$('.no').click(function(){
			location.href='/admin_panel'
		})
	</script>
</body>
</html>