<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<form method="post" action="/signup" >
		<input type="text" name="username">
		<input type="password" name="password">
		<select name="type">
			<option value="teacher">TEACHER</option>
			<option value="student">STUDENT</option>
		</select>
		<input type="submit" value="Submit">
	</form>
</body>
</html>